<h1 >새로운 메모를 입력할 화면입니다.</h1>
<p>새로운 메모를 입력해주시면 됩니당:)</p>
<form action="/posts/create" method="post" enctype="multipart/form-data">
 <p>제목: <input type="text" name="input_title"  placeholder="제목을 입력해주세요"></p>
 <p>내용: <input type="text" name="input_content" placeholder="내용을 입력해주세요"></p>
 <input type="submit" vale="물어보기!">
 <input type="file" name="photo" accept="image/*"> 
</form>
<a href="/posts/index">지금까지의 메모들 보러 바로가기!</a>