<h1>새로운 post를 입력할 화면입니다.</h1>
<p>새로운 게시물을 입력해주시면 됩니당:)</p>
<form action="/posts/create" method="get">
 <p>제목: <input type="text" name="input_title"  placeholder="내용을 입력해주세요"></p>
 <p>내용: <input type="text" name="input_content" placeholder="내용을 입력해주세요"></p>
 <input type="submit" vale="물어보기!">
</form>
<a href="/posts/index">질문들 보러가기!</a>