
<div class="text-center ">
<h1>선경이의 메모 게시판 입니다.</h1>
<hr>
<h3>메모를 남겨주세요 :) </h3>
<br>
<div class="container mt-6">
<img src="https://www.uuoobe.kr/data/file/humor/981376692_DuilYKnJ_5B5BEC96B4EB8A90_EAB09CEC9EA5EC8898EC9D98_EC9C84EC9784.gif" class="img-circle" alt="Responsive image">
</div>
<hr>
<a class="btn btn-default btn-sm" href="/posts/new" role="button">메모남기기</a>
 </div>

